* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: poppins;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: #EC4C7A;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: #202428;
}

p {
    font: 16px;
    font-weight: 300;
    color: #8A8A8A;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 7.5%;
}
.half-width img {
    width: 100%;
}

/* Header Section */
.half-width-1 {
    width: 37%;
    float: left;
    margin-left: 12%;
}
.half-width-1 img {
    width: 100%;
}

.half-width-1:nth-child(2) {
    margin: 0;
}
.header {
    height: 623px;
    background-image: url(personal-website/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    padding-top: 130px;
}

.btn {
    background-image: linear-gradient(45deg,#EC5197, #ED4B6F);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    padding: 12px 37px;
}

#my-name {
    margin-bottom: 35px;
}
#about-me {
    margin-bottom: 40px;
}
/* Header Section */

/*Biography Section */
.biography {
    height: 873px;
    background-image: url(personal-website/biography-bg.png);
    background-repeat: no-repeat;
    background-size: auto;

}

.biography:nth-child(2) img {
    margin-top: 150px;
    margin-bottom: 30px;
    width: 90%;

}

.biography:nth-child(2) h2 {
    margin-top: 300px;
    margin-bottom: 30px;
}

.biography:nth-child(2) p {
    margin-bottom: 50px;
}
/*Biography Section */

/* Latest Work */
.latest-work {
    height: 560px;
    background-image: url(personal-website/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
}
.latest-work h2{
    text-align: center;
    margin-top: 170px;
    margin-bottom: 70px;
}
.latest-work div {
    width: 85%;
    margin: auto;
}
.latest-work div img {
    float: ;
    width: 30%;
    margin: 0 15px;
}
/* Latest Work */
/* Footer */
.footer {
    text-align: center;
    height: 500px;
    background-image: url(personal-website/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.footer h2 {
    margin-bottom: 50px;
}
.f-name {
    font-size: 12px;
    font-weight: 700;
    color: #202428;
    margin-bottom: 5px;
}
.f-position {
    font-size: 10px;
    font-weight: 400;
    color: #676868;
    margin-bottom: 30px;
}
.f-para {
    width: 30%;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
    color: #3d3d3d;
    margin-bottom: 55px;
}
.f-box {
    width: 38%;
    margin: auto;
    background-image: linear-gradient(45deg,#EC5197, #ED4B6F);
    border-radius: 5px;
    margin-bottom: 100px;
    
}
.f-box p {
    color: white;
    font-size: 10px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 15px;
}
.f-box h2 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 40px;
}
.f-copy-right {
    font-size: 11px;
    color: rgb(71, 71, 71);
    margin-bottom: 20px;
    font-weight: 400;
}
/* Footer */

